@import 'base/maps';
@import 'base/extends';
@import 'base/mixin';

*{
    margin: 0%;
    padding: 0%;
}



ul{
 list-style-type: none;
 text-align: center;
    li{
        display: inline;
        padding: 30px;
    }
}


h1{
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    @extend %bordeado;
}

nav{
    @extend %bordeado;
}





main{
    
    background-color:white ;
    margin: 25px;
}



footer{
   @extend %bordeado;

}



li{
    @include fuentes(normal, 25px,"'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif");
    
    color: black;
}



a{ 
    text-decoration: none;
    color: white;
}

.img-100{

    width:100%
}

.img1{
    height: 700px;
    width: 700px;
  

}


.parrafo{
    line-height: 1cm;
    @include fuentes(italic, 20px,"Arial, Helvetica, sans-serif");
    margin: 1cm;
    padding: 1cm;
    border: 1cm;
}

.titulo{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

.centrado{
    text-align: center;
    

}

.grilla{
    display: grid;
    grid-template-areas: 
    "header"
    "main "
    "footer";
    grid-template-rows: 0.2fr  1fr 0.1fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding-right: 1rem;
}
.cuadro{

    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
    width: 200px;
  }



.losredon{
height: 350px;
width: 350px;
filter: grayscale(1);

    &:hover{

        transform: scale(1,1);
        filter: grayscale(0);
        padding: 20px;
    }
}

.container-losredon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}




.div-padding{
    padding: 15px;
}

.audio1{
align-items: center;
display: flex;
}

.oscuro{
    background-color: map-get($oscuro,bg-oscuro);
    color:map-get($oscuro , color-oscuro)
}